@import url(../img/fonts/roboto/roboto.css);
.grid-col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.grid-col-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr); }

.grid-rows-3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; }

* {
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

.header-t1 {
  background: url("../img/back1.jpg");
  background-size: cover;
  height: 700px; }

.logo {
  grid-column: 2/3;
  grid-rows: 1/2;
  margin-top: 4em;
  margin-left: 50%; }

.burg-menu {
  position: absolute;
  top: 11%;
  right: 15%; }

.nav {
  grid-column: 3/11;
  grid-rows: 1/2;
  font-family: railwayBold;
  margin-top: 4.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav ul li {
    display: inline-block; }
    .nav ul li a {
      padding: 0.25em 1em;
      text-decoration: none;
      color: white;
      -webkit-transition: color 0.3s linear;
      transition: color 0.3s linear; }
    .nav ul li a:hover {
      color: #ba9ef9; }

.name {
  grid-column: 3/11;
  grid-rows: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .name h1 {
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    padding: 0.2em 0;
    font-family: railwayBold;
    text-transform: uppercase;
    color: white;
    font-size: 5em;
    letter-spacing: 0.085em; }
  .name p {
    color: white;
    margin: 1em 0;
    font-family: roboto;
    font-size: 1.6em;
    font-weight: 100; }

.man {
  grid-column: 1/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 7.5em; }

.home-content {
  grid-column: 6/13;
  font-family: roboto; }
  .home-content h2 {
    margin: 7em 0.5em 1em 0.5em; }
  .home-content p {
    margin: 1em 0.5em 1em 0;
    line-height: 1.5em; }
  .home-content button {
    background: #ff2b49;
    font-family: roboto;
    font-size: 1.1em;
    padding: 0.75em 4em;
    color: white;
    margin: 3em 0;
    border: none; }

.working-process {
  background: #f6f6f6; }

.cont-wrap {
  grid-column: 4/14; }
  .cont-wrap h2 {
    margin: 2.5em 0 0 0;
    font-family: railwayBold;
    font-size: 2.5em;
    text-align: center; }
  .cont-wrap p {
    font-family: roboto;
    text-align: center;
    margin: 3em 0 3.75em 0; }

.rec-1-wrap {
  grid-column: 3/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 6em; }

.rec-1 {
  width: 220px;
  background: #10c6fc;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .rec-1 img {
    margin-bottom: 1em; }

.rec-2-wrap {
  grid-column: 6/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.rec-2 {
  background: #835aeb;
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .rec-2 img {
    margin-bottom: 1em; }

.rec-3-wrap {
  grid-column: 9/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.rec-3 {
  background: #002453;
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .rec-3 img {
    margin-bottom: 1em; }

.rec-4-wrap {
  grid-column: 12/15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.rec-4 {
  background: #002453;
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .rec-4 img {
    margin-bottom: 1em; }

.p-wp {
  font-family: roboto;
  text-transform: uppercase;
  margin-top: 1em;
  color: white; }

.work-experiens {
  background: url("../img/back1.jpg");
  background-size: cover;
  height: auto; }

.w-e, .edu {
  background: url("../img/back-edu.png") no-repeat; }
  .w-e h3, .edu h3 {
    font-family: railwayBold;
    font-size: 1.4em;
    letter-spacing: 0.07em;
    color: white;
    margin: 10% 5%;
    text-transform: uppercase; }
  .w-e .edu-subtitle, .edu .edu-subtitle {
    font-family: roboto;
    color: white;
    margin: 5%;
    font-size: 1.2em; }
  .w-e .time, .edu .time {
    font-family: roboto;
    color: white;
    margin: 0.5em 5%;
    font-size: 1em; }
  .w-e p, .edu p {
    font-family: roboto;
    color: white;
    margin: 0 5% 5% 5%;
    font-size: 0.9em;
    letter-spacing: 0.04em; }

.w-e {
  grid-column: 3/9;
  margin: 5em 0.5em 5em 0; }

.edu {
  grid-column: 9/15;
  margin: 5em 0 5em 0.5em; }

.p1 {
  padding-bottom: 2.5em;
  border-bottom: 1px #bbb solid; }

.latest-works .lw-title {
  grid-column: 3/14; }
  .latest-works .lw-title h2 {
    margin: 2.5em 0 0 0;
    font-family: railwayBold;
    font-size: 2.5em;
    text-align: center; }
  .latest-works .lw-title p {
    text-align: center;
    font-family: roboto;
    margin: 2em 0 0; }

.latest-works .rec-lw-1 {
  grid-column: 3/6;
  height: 12em;
  background: #10c6fc;
  margin: 2em 0.5em 0.5em; }

.latest-works .rec-lw-2 {
  grid-column: 6/9;
  height: 12em;
  background: #835aeb;
  margin: 2em 0.5em 0.5em; }

.latest-works .rec-lw-3 {
  grid-column: 9/12;
  height: 12em;
  background: #002453;
  margin: 2em 0.5em 0.5em; }

.latest-works .rec-lw-4 {
  grid-column: 12/15;
  height: 12em;
  background: #ff2b4a;
  margin: 2em 0.5em .5em; }

.latest-works .rec-lw-5-6 {
  grid-column: 3/9;
  height: 12em;
  background: #835aeb;
  margin: .5em 0.5em 5em; }

.latest-works .rec-lw-7 {
  grid-column: 9/12;
  height: 12em;
  background: #002453;
  margin: .5em 0.5em 5em; }

.latest-works .rec-lw-8 {
  grid-column: 12/15;
  height: 12em;
  background: #ff2b4a;
  margin: .5em 0.5em 5em; }

.blue {
  background: #64cbc0; }
  .blue .blue-cont {
    grid-column: 3/9;
    margin: 2em 0; }
    .blue .blue-cont p {
      padding: 0 2em 0 0.5em;
      font-family: roboto;
      color: 1d4440;
      line-height: 1.5em; }
  .blue .blue-img {
    margin: 8em 0 0 0.5em;
    grid-column: 3/6; }
  .blue .signature {
    margin: 0.5em 0;
    grid-column: 3/6; }
  .blue .croft {
    margin: 0.5em 0 0 0.5em;
    grid-column: 3/6;
    font-family: roboto; }
    .blue .croft h3 {
      margin: 1em 0 0 0; }
    .blue .croft p {
      margin: 0.5em 0 7.5em 0; }

.contacts {
  background: url("../img/back1.jpg");
  background-size: cover; }

.feedback {
  grid-column: 3/9;
  background: url("../img/back-contacts.png");
  padding-left: 2.5em;
  margin: 7.5em 0; }
  .feedback h2 {
    text-transform: uppercase;
    font-family: railway;
    color: white;
    margin: 3em 0 2.5em 0; }
  .feedback input {
    margin: .75em 0;
    background: none;
    border: 1px #fff solid;
    width: 90%;
    padding: 0.75em 0  0.75em 0.5em;
    color: white; }
  .feedback button {
    background: #ff2b49;
    font-family: roboto;
    font-size: 1.1em;
    padding: 0.75em 0;
    width: 40%;
    color: white;
    margin: 3em 0;
    border: none;
    margin-left: 52%; }

@font-face {
  font-family: railwayBold;
  src: url(../img/fonts/railway/Raleway-Bold.otf);
  font-family: railway;
  src: url(../img/fonts/railway/raleway-regular.otf); }
